:host
  // CSS looks for the first font that is available to use
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size: 14px
  color: #333
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// This setting changes the default padding around an Angular app
::ng-deep *
  margin: 0
  padding: 0

// Main parent element using flexbox
.container
  // Really important implementation allows container to expand to full screen
  position: absolute
  width: 100%
  top: 0
  left: 0
  height: 100vh

  // Control the entire app's background with this
  background-color: #FFFFF0  // Ivory

  // Flex main container vertically
  display: flex
  flex-direction: column
  flex-wrap: nowrap  // Handle flex direction change with media query

  align-items: stretch
  justify-content: space-evenly

  background-color: aliceblue


// Paddings for 3 mains pieces of container
$base-margin-x: calc(0.1rem + 0.3vw)  // Do environment variables like this
$base-margin-y: calc(0.1rem + 0.3vh)

header, main
  margin: $base-margin-y $base-margin-x  // Top-bottom, then left-right
  border-radius: 0.5rem
  padding: calc(0.1vw + 0.1vh)

  display: grid
  place-items: center


// Short header
header
  flex-grow: 0.5
  flex-basis: 5%

  font-size: calc(1rem + 1vw + 1vh)
  font-family: "American Typewriter"

  background-color: cornsilk


// Nested flexbox with UK and US sections
main
  flex-grow: 10
  flex-basis: 80%

  display: flex
  flex-direction: row
  flex-wrap: nowrap

  align-items: stretch
  justify-content: space-evenly

// Container for the UK and US fields
.ukContainer, .usContainer
  display: flex
  flex-direction: column
  flex-grow: 1
  flex-basis: 40%
  min-width: 40%

  align-items: stretch
  justify-content: space-evenly

// Ensure extra spacing between the uk-field and us-field
.ukContainer
  margin: 0 1vw 0 0.1vw  // Top right bottom left

.usContainer
  margin: 0 0.1vw 0 1vw  // Top right bottom left

// Change the flex direction to accommodate thin screens in portrait mode
@media screen and ( max-width: 1024px ) and (orientation: portrait)
  main
    flex-direction: column

  // Swap margins values for UK and US divs
  .ukContainer
    margin: 0.1vh 0 0.5vh 0  // Top right bottom left

  .usContainer
    margin: 0.5vh 0 0.1vh 0  // Top right bottom left
