
<div ngClass='container'>

  <head>
    <meta name="viewport" content="width=device-width initial-scale=1">
  </head>

  <!-- Contains title and global customisations of functionality -->
  <header>
    <!-- Image link to GitHub repository  -->
    <a href="https://github.com/Ellipsoul/tax-calculator-pwa" ngClass="github" target="_blank">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/nxtfire-js.appspot.com/o/uploads%2FuuRmEIzugzeifeVSihU50w46Ydg1%2F1636919828288.png?alt=media&token=a2f5f0a1-5529-442e-a430-c6002ca1d3ad"
        width="100%"
        height="100%">
    </a>
    <!-- Title -->
    <div ngClass="title">
      Easy Tax Calculator 💰
    </div>
    <!-- Currency converter -->
    <div ngClass="converter-container">
      <!-- USD to GBP Container -->
      <ng-container *ngIf="currentlyDisplayed.includes('UK') && currentlyDisplayed.includes('US')">
        <button
          mat-raised-button
          [color]="GBPUSD ? 'basic' : 'accent'"
          (click)="toggleConverter()">
          <mat-icon>rotate_right</mat-icon>
        </button>

        <div ngClass="converter-input" *ngIf="GBPUSD">
          <div class="form__group">
            <input
              type="number"
              min="0"
              step="1"
              class="form__field"
              placeholder={{usuk_gbpInput}}
              [(ngModel)]="usuk_gbpInput"
              (input)="updateOutput()"
              required />
            <label for="bonus" class="form__label">GBP (£)</label>
          </div>
        </div>

        <div ngClass="converter-output" *ngIf="GBPUSD">
          ${{usuk_usdOutput | number: '.2-2'}}
        </div>

        <div ngClass="converter-input" *ngIf="!GBPUSD">
          <div class="form__group">
            <input
              type="number"
              min="0"
              step="1"
              class="form__field"
              placeholder={{usuk_usdInput}}
              [(ngModel)]="usuk_usdInput"
              (input)="updateOutput()"
              required />
            <label for="bonus" class="form__label">USD ($)</label>
          </div>
        </div>

        <div ngClass="converter-output" *ngIf="!GBPUSD">
          £{{usuk_gbpOutput | number: '.2-2'}}
        </div>
      </ng-container>

      <!-- USD to SGD Converter -->
      <ng-container *ngIf="currentlyDisplayed.includes('SG') && currentlyDisplayed.includes('US')">
        <button
          mat-raised-button
          [color]="USDSGD ? 'basic' : 'accent'"
          (click)="toggleConverter()">
          <mat-icon>rotate_right</mat-icon>
        </button>

        <div ngClass="converter-input" *ngIf="USDSGD">
          <div class="form__group">
            <input
              type="number"
              min="0"
              step="1"
              class="form__field"
              placeholder={{ussg_usdInput}
              [(ngModel)]="ussg_usdInput"
              (input)="updateOutput()"
              required />
            <label for="bonus" class="form__label">USD ($)</label>
          </div>
        </div>

        <div ngClass="converter-output" *ngIf="USDSGD">
          S${{ussg_sgdOutput | number: '.2-2'}}
        </div>

        <div ngClass="converter-input" *ngIf="!USDSGD">
          <div class="form__group">
            <input
              type="number"
              min="0"
              step="1"
              class="form__field"
              placeholder={{ussg_sgdInput}}
              [(ngModel)]="ussg_sgdInput"
              (input)="updateOutput()"
              required />
            <label for="bonus" class="form__label">SGD (S$)</label>
          </div>
        </div>

        <div ngClass="converter-output" *ngIf="!USDSGD">
          ${{ussg_usdOutput | number: '.2-2'}}
        </div>
      </ng-container>

      <ng-container *ngIf="currentlyDisplayed.includes('SG') && currentlyDisplayed.includes('UK')">
        <button
          mat-raised-button
          [color]="GBPSGD ? 'basic' : 'accent'"
          (click)="toggleConverter()">
          <mat-icon>rotate_right</mat-icon>
        </button>

        <div ngClass="converter-input" *ngIf="GBPSGD">
          <div class="form__group">
            <input
              type="number"
              min="0"
              step="1"
              class="form__field"
              placeholder={{uksg_gbpInput}
              [(ngModel)]="uksg_gbpInput"
              (input)="updateOutput()"
              required />
            <label for="bonus" class="form__label">GBP (£)</label>
          </div>
        </div>

        <div ngClass="converter-output" *ngIf="GBPSGD">
          S${{uksg_sgdOutput | number: '.2-2'}}
        </div>

        <div ngClass="converter-input" *ngIf="!GBPSGD">
          <div class="form__group">
            <input
              type="number"
              min="0"
              step="1"
              class="form__field"
              placeholder={{uksg_sgdInput}}
              [(ngModel)]="uksg_sgdInput"
              (input)="updateOutput()"
              required />
            <label for="bonus" class="form__label">SGD (S$)</label>
          </div>
        </div>

        <div ngClass="converter-output" *ngIf="!GBPSGD">
          £{{uksg_gbpOutput | number: '.2-2'}}
        </div>
      </ng-container>


      <button
        mat-raised-button
        color='basic'
        (click)="toggleCountries()">
        <mat-icon>cached</mat-icon>
      </button>
    </div>


  </header>



  <!-- Split Screen for separate UK and US tax calculations -->
  <main>
    <app-uktaxes ngClass="ukContainer" *ngIf="currentlyDisplayed.includes('UK')"></app-uktaxes>
    <app-ustaxes ngClass="usContainer" *ngIf="currentlyDisplayed.includes('US')"></app-ustaxes>
    <app-sgtaxes ngClass="usContainer" *ngIf="currentlyDisplayed.includes('SG')"></app-sgtaxes>
  </main>
</div>


<!-- Angular routing requires this -->
<router-outlet></router-outlet>
