
<div ngClass='container'>

  <head>
    <meta name="viewport" content="width=device-width initial-scale=1">
  </head>

  <!-- Contains title and global customisations of functionality -->
  <header>Header</header>

  <!-- Split Screen for separate UK and US tax calculations -->
  <main>
    <app-uktaxes ngClass="ukContainer"></app-uktaxes>
    <app-ustaxes ngClass="usContainer"></app-ustaxes>
  </main>

  <footer>Footer</footer>

</div>


<!-- Angular routing requires this -->
<router-outlet></router-outlet>
