
<div ngClass='container'>

  <head>
    <meta name="viewport" content="width=device-width initial-scale=1">
  </head>

  <!-- Contains title and global customisations of functionality -->
  <header>Header</header>


  <main>

    <div ngClass="inputDiv">
      <div ngClass="inputs">Inputs</div>
      <div ngClass="inputs">Inputs</div>
      <div ngClass="inputs">Inputs</div>
      <div ngClass="inputs">Inputs</div>
      <div ngClass="inputs">Inputs</div>
      <div ngClass="inputs">Inputs</div>
    </div>

    <div ngClass="outputDiv">
      <div ngClass="outputs">Outputs</div>
      <div ngClass="outputs">Outputs</div>
      <div ngClass="outputs">Outputs</div>
      <div ngClass="outputs">Outputs</div>
      <div ngClass="outputs">Outputs</div>
      <div ngClass="outputs">Outputs</div>
    </div>

  </main>

  <footer>Footer</footer>

</div>


<!-- Angular routing requires this -->
<router-outlet></router-outlet>
